/* 占쏙옙占쏙옙 占쏙옙占쏙옙 */
:root {
    /* 占쏙옙占쏙옙 */
    --wrapper-padding: 10px;
    --default-flex-gap: 10px;
    /* 占쏙옙占쏙옙 */
    --white-100: rgb(255, 255, 255);
    --gray-100: rgb(240, 240, 240);
    --gray-200: rgb(212, 212, 212);
    --gray-250: rgb(183, 183, 183);
    --gray-300: rgb(116, 116, 116);
    --black-100: rgb(27, 27, 29);
    --red-100: rgb(183, 0, 14);
    --red-200: rgb(242, 74, 59);
    --green-100: rgb(25, 161, 91);
    --blue-100: rgb(84, 146, 204);
    --blue-200: rgb(84, 140, 238);
    --blue-300: rgb(0, 31, 83);
    --blue-400: rgb(60, 75, 94);
    --blue-500: rgb(218, 232, 245);
    --blue-600: rgb(0, 0, 255);
    --purple-100: rgb(100, 46, 146);
    --peach-100: rgb(250, 225, 209);
    --orange-100: rgb(233, 112, 52);
}


/* 컨테이너 스타일링 */
.container {
    display: flex;
    width: 100%;
    height: 850px;
   
    background-color: #fff;

   
}

/* 왼쪽 컨테이너 스타일링 */
.container .left {
    flex: 1;
    padding: 30px; 
  /*   border-right: 2px solid black; */
    border-radius: 22px;
    background-color: rgb(108, 122, 137);
     margin-right: 15px;
}

/* 오른쪽 컨테이너 스타일링 */
.container .right {
    flex: 1;
    padding: 30px;
    background-color: rgb(108, 122, 137);
    border-radius: 22px;
}




.rounded-input {
    border-radius: 20px; /* 원하는 값으로 조정 가능 */
    border: 1px solid #ccc; /* 필요에 따라 border 색상 및 두께 조정 */
    padding: 8px; /* 필요에 따라 패딩 조정 */
}





.panel-body {
    display: flex;
    flex-direction: column;
}

.left-panel {
    display: flex;
    flex-direction: column;
}

.form-group {
	 display: flex; /* Flexbox 컨테이너로 설정 */
    margin-bottom: 10px;
              align-items: center; /* 세로 중앙 정렬 */
    justify-content: space-between; /* 레이블과 입력 필드를 양 끝으로 정렬 */
    
}

.form-group1 {
	 display: flex; /* Flexbox 컨테이너로 설정 */
    margin-bottom: 10px;
    
              align-items: center; /* 세로 중앙 정렬 */
  justify-content: flex-start; /* 레이블과 입력 필드를 왼쪽으로 정렬 */
    gap: 10px; /* 요소들 사이의 간격 설정 */
    flex-wrap: wrap; 
    
}

.form-control-label {
    width: 50%;
    font-weight: bold;
    margin-right: 20px;
    text-align: right;
}

.form-control-group {
    display: flex;
    align-items: center;
    gap: 10px;
}

.form-control {
    flex: 1;
    height: 50px;
    font-size: 14px;
    border: 1px solid #ccc;
    padding: 0 10px;
    background: #f9f9f9;
}

.form-control1 {
   color: #fff;
}


.form-control2 {
    display: flex;
    align-items: center; /* 수직 정렬을 가운데로 설정 */
    gap: 10px; /* 요소들 사이에 간격을 설정 */
    height: 50px; /* 높이 설정 */
    font-size: 14px; /* 글자 크기 설정 */
    border: 1px solid #ccc; /* 테두리 설정 */
    padding: 0 10px; /* 내부 여백 설정 */
    background: #f9f9f9; /* 배경색 설정 */
}

.form-control2 input[type="text"] {
    flex: 1; /* 입력 요소가 가로폭을 차지하도록 설정 */
    margin: 0 5px; /* 입력 요소와 라벨 사이에 간격을 설정 */
    padding: 5px; /* 입력 요소의 내부 여백 설정 */
}



.form-control3 {
    display: flex;
    align-items: left; /* 수직 정렬을 가운데로 설정 */
    gap: 20px; /* 날짜 입력 필드 사이의 간격 설정 */
}

.date-group {
    margin-left: 48px;
    align-items: left; /* 수직 정렬을 가운데로 설정 */
    gap: 5px; /* 날짜 입력 필드와 라벨 사이의 간격 설정 */
}












.form-group label {
    width: 120px; /* 레이블의 너비를 설정하여 일관된 레이아웃 유지 */
    text-align: left; /* 레이블을 오른쪽 정렬 */
/*     margin-right: 5px; 레이블과 입력 필드 간의 간격 */
}




input.form-control[disabled] {
    background: #e9ecef;
}

select.form-control {
    height: 50px;
}

.form-control-textarea {
    width: 100%;
    height: 370px;
    font-size: 13px;
    border: 1px solid #666;
    padding: 10px;
    background: #f9f9f9;
}

.button-group {
    display: flex;
    gap: 10px; /* 버튼 간의 간격 조정 */
    justify-content: flex-end; /* 버튼들을 오른쪽으로 정렬 */
    width: 100%; /* 버튼 그룹이 컨테이너의 전체 너비를 차지하도록 설정 */
}

.btn {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

.btn-green {
    background-color: #28a745;


.form-group input { height: 50px; border: 1px solid var(--gray-200); margin-left:10px; font-size: 14px; }









/* 占쏙옙占쏙옙占쏙옙 占쏙옙占쏙옙 占쏙옙타占쏙옙 */
body {
    width: 100%;
    height: 100%;
    background: var(--white-100);
    font-family: "Noto Sans KR", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    color: #000000;
}
.text-center { text-align: center; }
/* Flex 占쏙옙타占쏙옙 */
.flex {display: flex};
.flex-right {justify-content: flex-end;};
.flex-center { justify-items:  center; justify-content:space-between; }
.flex-column { display: flex; flex-direction: column;}
.flex-wrap { flex-wrap: wrap; border: 1px solid #999999; }
.align-items-center { align-items: center; }
.justify-content-center { justify-content: center; }
.flex-10 { flex: 1 1 calc(10% - 6px); }
.flex-16 { flex: 1 1 calc(16% - 6px); }
.flex-20 { flex: 1 1 calc(20% - 6px); }
.flex-33 { flex: 1 1 calc(33.3% - 6px); }
.flex-40 { flex: 1 1 calc(40% - 6px); }
.flex-50 { flex: 1 1 calc(50% - 6px); }
.flex-66 { flex: 1 1 calc(66.6% - 6px); }
.flex-80 { flex: 1 1 calc(80% - 6px); }
.flex-100 { flex: 1 1 calc(100% - 6px); }
.flex-gap-4 { gap: 4px; }
.flex-gap-10 { gap: 10px; }
.flex-gap-20 { gap: 20px; }
.flex-padding-10 {padding: 10px;}
.flex-padding-15 {padding: 15px;}
.flex-margin-10 {margin: 10px;}
/* 占쏙옙튼 */
.btn { padding: 4px 12px; border: 0px solid var(--black-100); cursor: pointer; }
.btn.btn-default { background: var(--white-100); color: var(--black-100); }
.btn.btn-skyblue { background: var(--blue-500); color: var(--black-100); }
.btn.btn-blue { background: var(--blue-100); color: var(--white-100); }
.btn.btn-blue2 { background: #003366; color: var(--white-100); }
.btn.btn-blue3 { background: #003366; color: var(--white-100); }
.btn.btn-navy { background: var(--blue-300); color: var(--white-100); }
.btn.btn-red { background: var(--red-100); color: var(--white-100); }
.btn.btn-gray { background: var(--gray-300); color: var(--white-100); }
.btn.btn-green2 { background: #66CC66; color: var(--white-100); }
.btn.btn-peach { background: var(--peach-100); color: var(--black-100); }
.btn.btn-transparent { background: transparent; color: var(--black-100); }
.btn.btn-orange { background: var(--orange-100); color: var(--white-100); }
.btn.btn-orange2 { background: #FF9900; color: var(--white-100); }
.width-fix-100 {width:100px;}
/* Form */
.form-group { display: flex; align-items: center; justify-content: center; width: 100%;}
.form-group label {height:30px; font-weight: bold; text-align: center;margin-right: -10px; line-height: 32px;}
.form-group input {height: 37px; border: 1px solid var(--gray-200); margin-left:10px; align-items: center; justify-content: center; margin-right : 25px;}
.form-group select { margin-left : 20px ;height: 36px; border: 1px solid var(--gray-200);  }

.form-control { flex: 1; width: 100%;} 

.custdtlabel {height:30px; font-weight: bold; text-align: center;margin-right: -10px; line-height: 32px;}



/*** fix width of percentage**/
.fix-width-33 {
    width: 20%; /* 기존의 너비 설정 (33%로 유지 또는 조정 가능) */
    max-width: 150px; /* 최대 너비 설정, 필요에 따라 조정 */
    text-align: center; /* 레이블 텍스트 오른쪽 정렬 (기본값) */
}


.panel-body {display: flex; width: 100%;}

.panel-body h2 {text-align: center;/* 중앙 정렬 */font-size: 24px; margin-bottom: 20px;/* 원하는 폰트 크기로 변경 */}


.left-panel{gap: 10px;display: flex;flex-direction: column;border: 1px solid #999999;margin: 10px;padding: 15px;}


.right-panel{gap: 10px;display: flex;flex-direction: column;border: 1px solid #999999;margin: 10px;padding: 5px; }
.contorllbox {}
.info {
  position: relative;
  display: flex;
  align-items: center; /* 수직 가운데 정렬 */
}

#info__id input {
  height: 40px; /* 버튼과 같은 높이로 맞춤 */
  padding-right: 95px; /* 버튼이 겹치지 않도록 여유 공간 추가 */
}

#info__id button {
  position: absolute;
  width: 90px;
  height: 40px; /* 입력 필드와 동일한 높이로 설정 */
  top: 0;
  right: 5px;
  margin: auto 0;
  border-radius: 3px;
}


@charset "UTF-8";