@charset "UTF-8";

header {
	height: 90px;
  color: #212121;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #f6f6f6;
}

.greeting {
	margin: 0;
}

.user_logInOut {
  /* 포지션 기준 위치 */
  position: relative;
}

.image-box {
  width: 50px;
  height: 50px;
}

.image-box img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* 리스트 스타일 제거 */
li {
  list-style: none;
}

/* 드롭다운 메뉴 기본 스타일 */
.user_logInOut .dropdown {
  display: none;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);

  /* 포지션 */
  position: absolute;
  width: 120px;
  right: 0;
}

/* 드롭다운 메뉴가 표시될 때 */
.user_logInOut .dropdown .show {
  display: block;
}

/* 드롭다운 메뉴 안의 링크 스타일 */
.user_logInOut .dropdown a {
  color: #212121;
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
}

.user_logInOut .dropdown a:hover {
  font-weight: bold;
}