@font-face {
  font-family: 'Kotra Bold';
  font-weight: 300;
  font-style: normal;
  src: url('/fonts/KotraBold.ttf') format('embedded-opentype'),
       url('/fonts/KotraBold.otf') format('opentype'),
       url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10-21@1.1/KOTRA_BOLD-Bold.woff') format('woff');
}